<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/LoginVerifyDaraz"><classes><class name="testcases.TC01LoginTest"><methods><include name="testLoginWithValiddata"/><include name="testLoginWithEmptyEmailField"/><include name="testLoginWithEmptyWrongEmailData"/><include name="testLoginWithEmptyWrongEmailData01"/><include name="testLoginWithRealEmail"/><include name="testLoginWithEmptyPassword"/><include name="testLoginWithRealPassword"/></methods></class><class name="testcases.TC02CartTest"><methods><include name="clickCheakOutButton"/></methods></class></classes></test></suite>